<!--<li>-->
  <!--<form id="search-form">-->
    <!--<input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">-->
  <!--</form>-->
<!--</li>-->
<!--<li><a href="/v2/guide/" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">教程</a></li>-->
<!--<li><a href="/v2/api/" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API</a></li>-->
<!--<li><a href="/test/" class="nav-link<%- page.path.match(/test/) ? ' current' : '' %>">测试</a></li>-->
<!--<li><a href="/about/" class="nav-link<%- page.path.match(/about/) ? ' current' : '' %>">参与贡献</a></li>-->

<li><a href="/" class="nav-link<%- page.path.match(/^index/) ? ' current' : '' %>">首页</a></li>
<li><a href="/archives" class="nav-link<%- page.path.match(/^archives/) ? ' current' : '' %>">文章列表</a></li>
